@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
    background-color: black;
}
.content_header{
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
.content_header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.content_header button{
    border: none;
    color: #000;
    padding: 15px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}
.head_general{
    background:  url("https://andyhardy.co/assets/img/landscape_background_small.jpg") center / cover no-repeat fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: relative;
}
.flex_general{
    background:  url("https://andyhardy.co/assets/img/landscape_mountain_small.png") center / cover no-repeat ;
    width: 100%;
    height: 100%;
    z-index: 15;
    position: relative;
}
.flex_general img{
    width: 500px;
}
#img_p{
    text-align: center;
    position: relative;
    top: 50px;
}
.contacts_fixed ul{
    list-style: none;
    margin: 0px;
    padding-right: 30px;
    position: relative; 
}
.contacts_fixed ul li a{
    text-decoration: none;
}
.contacts_fixed a i{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    padding: 12px 0px;
}
.contacts_fixed{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.bottom_content{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    position: relative;
    top: 10%;
    z-index: 20;
    padding: 30px;
}
.bottom_content p{
    color: rgb(216, 216, 216);
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
}
.content_box_shadow_rel{
    position: relative;
    z-index: 10;
    top: 10%;
    box-shadow: 0px 0px 300px 200px rgb(0, 0, 0);
    width: 90%;
}
.bottom_content p i{
    color: #fff;
    font-size: 20px;
    padding: 0px 10px;
    animation: rotate 1s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }
}
.content_main{
    justify-content: space-around;
    display: flex;
}
.cards{
    margin: 0px 30px;
    color: #fff;
    text-align: center;
}
.general_main{
    background-color: rgb(10, 10, 10);
    padding-bottom: 50px;
    padding-top: 20px;
}
.contet_flex_main{
    padding-top: 70px;
    padding-bottom: 40px;
}
.card1{
    background: url("https://andyhardy.co/media/pages/home/e415742651-1613463733/andy-bg-560x800.jpg") center / cover no-repeat;
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.card2{
    background:  url('https://andyhardy.co/media/pages/home/6742511e44-1613463734/felan-bg-560x800.jpg') center / cover no-repeat;
    width: 250px;
    height: 350px;
    padding: 40px 0px;
    border-radius: 5px;
}
.card3{
    background:  url('https://andyhardy.co/media/pages/home/fcdbb331ce-1613463734/education-bg-560x800.jpg') center / cover no-repeat;
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.card4{
    background:  url('https://andyhardy.co/media/pages/home/6871d294a8-1613463735/presets-bg-560x800.jpg') center / cover no-repeat;
    width: 250px;
    height: 350px;
    padding: 40px 0px;
    border-radius: 5px;
}
.cards img{
    width: 100px;
}
.cards{
    text-align: center;
    position: relative;
    transition: 0.5s;
}
.cards img{
    position: relative;
    top: 40%;
}
.cards p{
    position: relative;
    top: 75%;
}
.cards:hover:before{
    position: absolute;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.274);
}
.cards:hover{
    transform: scale(0.9);
}
.man_content{
    background:  url('https://andyhardy.co/media/pages/home/d9587b1b9c-1613463733/andy-about-bg-2160x1200.jpg') center / cover no-repeat;
    width: 100%;
    height: 100vh;
}
#white_p{
    color: #fff;
    font-size: 16px;
}
.content_man p{
    color: rgb(197, 197, 197);
    margin: 0px;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Shadows Into Light', cursive !important;
}
.content_man{
    text-align: center;
    margin: 0px 400px;
    position: relative;
    top: 500px;
}
.circle_man img{
    width: 100px;
    position: relative;
    bottom: 100px;
    animation: rotate 1s infinite linear;
}
.flex_gellery{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 50px;
}
.content_gallery{
    margin-top: 500px;
    margin-bottom: 50px;
}
.box_img1{
    background:  url('https://assets.website-files.com/57f5df04bf7667d94bc8e3c4/5e8d1587f5d16a1a63a38dbb__L0A2014-Edit_1200.jpg') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 15px 0px;
    border-radius: 3px;
}
.box_img2{
    background:  url('https://www.andreasampoli.com/wp-content/uploads/2019/07/Andrea-Sampoli-Italy-Wedding-Photographer-e1571758784598.jpg') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 3px;
}
.box_img3{
    background:  url('https://www.newzealand.com/assets/Tourism-NZ/Auckland/1a74e077c0/img-1536865193-7337-8583-61F24BC0-9C5E-2C98-61AB1E16F77A7F10__aWxvdmVrZWxseQo_FocalPointCropWzQyMCw5NjAsNDAsNTAsNzUsImpwZyIsNjUsMi41XQ.jpg') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 20px 0px;
    border-radius: 3px;
}
.box_img4{
    background:  url('https://images.unsplash.com/photo-1556642389-0cd5fd882f5a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8cGhvdG9ncmFwaGVyfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80') center / cover no-repeat ;
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 3px;
}
.box_img5{
    background:  url('https://www.obf.ie/wp-content/uploads/2018/02/pexels-photo.jpg') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 20px 0px;
    border-radius: 3px;
}
.box_img6{
    background:  url('https://www.sessions.edu/wp-content/uploads/Intuity.jpg') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 3px;
}
.box_img7{
    background:  url('https://images.ctfassets.net/u0haasspfa6q/UbVcvA2ijcOcTBVICqk28/e1bd06cd6c678445e270ebece8aab423/benjamin-combs-27619-unsplash') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 20px 0px;
    border-radius: 3px;
}
.box_img8{
    background:  url('https://img.freepik.com/free-photo/photographer-taking-self-portrait-woman-using-camera-taking-photo-dark-tone-front-view-selective-focus-lense-straight-into-camera_34048-994.jpg?size=626&ext=jpg&ga=GA1.2.1098952969.1610236800') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 3px;
}
.box_img9{
    background:  url('https://lancerx.co/wp-content/uploads/2019/01/What-are-the-Rates-for-Freelance-Photographers-in-Singapore.png') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 20px 0px;
    border-radius: 3px;
}
.box_img10{
    background:  url('https://ipt.imgix.net/205964/x/0/how-to-make-money-as-a-landscape-photographer-5.jpg?auto=compress%2Cformat&ch=Width%2CDPR&dpr=1&ixlib=php-3.3.0&w=883') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 3px;    
}
.box_img11{
    background:  url('https://digitalasset.intuit.com/IMAGE/A8K6wIHO2/photographer-taking-pictures-on-the-edge-of-a-cliff_INF31371.jpg') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 20px 0px;
    border-radius: 3px;
}
.box_img12{
    background:  url('https://img.freepik.com/free-photo/photography-man_101299-9.jpg?size=626&ext=jpg&ga=GA1.2.1156088737.1610236800') center / cover no-repeat;
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 3px;
}
.content_footer{
    text-align: center;
    padding: 50px 0px;
}
.content_footer form input{
    width: 220px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 1px solid #fff;
    height: 30px;
    padding: 10px;
}
.content_footer h1{
    color: #fff;
    font-weight: 300;
}
.content_footer button{
    padding: 15px 55px;
    background-color: #000;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, 0.712);
    border-radius: 2px;
}
.foot_down_content h1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
}
.foot_down_content{
    border:  2px solid #fff;
    padding: 20px 0px;
}
.foot_down_content a{
    text-decoration: none;
}

/*media*/

@media screen and (max-width: 1258px){
    .content_man{
        text-align: center;
        margin: 0px 300px;
        position: relative;
        top: 500px;
    }
    .bottom_content{
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        position: relative;
        top:  10%;
        z-index: 20;
        padding: 30px;
    }
}
@media screen and (max-width: 1100px){
    .card1{
        background: url("https://andyhardy.co/media/pages/home/e415742651-1613463733/andy-bg-560x800.jpg") center / cover no-repeat;
        width: 200px;
        height: 300px;
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    .card2{
        background:  url('https://andyhardy.co/media/pages/home/6742511e44-1613463734/felan-bg-560x800.jpg') center / cover no-repeat;
        width: 200px;
        height: 300px;
        border-radius: 5px;
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .card3{
        background:  url('https://andyhardy.co/media/pages/home/fcdbb331ce-1613463734/education-bg-560x800.jpg') center / cover no-repeat;
        width: 200px;
        height: 300px;
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    .card4{
        background:  url('https://andyhardy.co/media/pages/home/6871d294a8-1613463735/presets-bg-560x800.jpg') center / cover no-repeat;
        width: 200px;
        height: 300px;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 0px;
    }
}

@media screen and (max-width: 1100px){
    .content_man{
        text-align: center;
        margin: 0px 200px;
        position: relative;
        top: 500px;
    }
}
@media screen and (max-width: 980px){
    .content_man{
        text-align: center;
        margin: 0px 100px;
        position: relative;
        top: 500px;
    }
    .content_main{
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
    }
    .cards p{
        font-size: 13px;
    }
}
@media screen and (max-width: 910px){
    .im{
        padding: 0px;
        margin: 30px;
        width: 300px;
        height: 350px;
    }
}
@media screen and (max-width: 820px){
    .im{
        padding: 0px;
        margin: 20px;
        width: 100%;
        height: 350px;
    }
    .flex_gellery{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0px 30px;
    }
}
@media screen and (max-width: 850px){
    .flex_general img{
        width: 350px;
    }
    .bottom_content{
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        position: relative;
        top:  16%;
        z-index: 20;
        padding: 30px;
    }
    .cordinat_content_header p{
        font-size: 12px;
    }
    .cordinat_content_header p i{
        font-size: 12px;
    }
    .creat_content_header p{
        font-size: 12px;
    }
    .contacts_fixed ul li a i{
        font-size: 15px;
    }
    .contacts_fixed ul{
        list-style: none;
        margin: 0px;
        padding-right: 30px;
        position: relative;
        bottom: 30px;
    }
    .content_header a{
        font-size: 13px;
    }
    .content_header button{
        font-size: 13px;
    }
    .content_header button{
        border: none;
        color: #000;
        padding: 10px 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 40px;
    }
}
@media screen and (max-width: 730px){
    .content_man{
        text-align: center;
        margin: 0px 30px;
        position: relative;
        top: 500px;
    }
}
@media screen and (max-width: 560px){
    .flex_general img{
        width: 280px;
    }
    .contacts_fixed ul{
        display: none;
    }
    .content_header a{
        font-size: 13px;
    }
    .content_header button{
        font-size: 10px;
    }
    .content_header button{
        border: none;
        color: #000;
        padding: 10px 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 40px;
    }
    .content_man{
        text-align: center;
        margin: 0px 30px;
        position: relative;
        top: 470px;
    }
    .content_man p{
        font-size: 13px;
    }
    #white_p{
        font-size: 13px;
    }
    .bottom_content{
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        position: relative;
        top:  50%;
        z-index: 20;
        padding: 30px;
    }
    .content_box_shadow_rel{
        position: relative;
        z-index: 10;
        top: 50%;
        box-shadow: 0px 0px 300px 200px rgb(0, 0, 0);
        width: 90%;
    }
}
@media screen and (max-width: 520px){
    .card1{
        background: url("https://andyhardy.co/media/pages/home/e415742651-1613463733/andy-bg-560x800.jpg") center / cover no-repeat;
        width: 300px;
        height: 400px;
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    .cards img{
        width: 150px;
    }
    .cards p{
        font-size: 16px;
    }
    .card2{
        background:  url('https://andyhardy.co/media/pages/home/6742511e44-1613463734/felan-bg-560x800.jpg') center / cover no-repeat;
        width: 300px;
        height: 400px;
        border-radius: 5px;
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .card3{
        background:  url('https://andyhardy.co/media/pages/home/fcdbb331ce-1613463734/education-bg-560x800.jpg') center / cover no-repeat;
        width: 300px;
        height: 400px;
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    .card4{
        background:  url('https://andyhardy.co/media/pages/home/6871d294a8-1613463735/presets-bg-560x800.jpg') center / cover no-repeat;
        width: 300px;
        height: 400px;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 0px;
    }
    .creat_content_header{
        display: none;
    }
    .bottom_content{
        justify-content: center;
    }
}
@media screen and (max-width: 450px){
    .content_man p{
        font-size: 11px;
        line-height: 2,5;
    }
    #white_p{
        font-size: 11px;
        line-height: 2,5;
    }
    .man_content{
        background:  url('https://andyhardy.co/media/pages/home/d9587b1b9c-1613463733/andy-about-bg-2160x1200.jpg') center / cover no-repeat;
        width: 100%;
        height: 100vh;
    }
    .im{
        margin: 20px 0px;
        height: 250px;
    }
}